@page "/"
@inject IDevTodoService DevTodoService

<h1>Dev to-do list</h1>

<div class="uk-margin">
    
</div>
<div class="uk-margin">
    <div class="uk-inline uk-width-1-1">
        <button class="uk-form-icon uk-form-icon-flip" uk-icon="icon: plus-circle" @* @onclick='AddNewTask' *@></button>
        <input class="uk-input uk-form-large uk-width-1-1" placeholder="Nome da tarefa" @* @bind="newTodo" *@/>
    </div>
</div>

@* <input class="uk-checkbox" type="checkbox" />  *@

<hr>

<ul class="uk-list uk-list-divider uk-list-large">
    @foreach (var todo in DevTodoService.DevTodo)
    {
        <li>
            <label>
                <h3>@todo.Title</h3>
                <input class="uk-checkbox" type="checkbox" @bind="todo.Done" /> @todo.Description
            </label>
        </li>
    }
</ul>

@code {

  protected override async Task OnInitializedAsync() {
    await DevTodoService.GetAll();
  }

}